
@{
    ViewBag.Title = "UploadNewMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string user_id = Session["U"].ToString();
    string upload_path = Request.Form["Path"];
    string a = "asd";
}

<section class="col-xs-12 text-center container-fluid" ng-app="Uploading" ng-controller="UploadController">
    <div class="col-xs-12">

        <div class="form-inline col-xs-12">
            <br />
            <br />

            <input type="file" multiple="multiple" name="files" id="FileID" class="form-control" style="width:100%;" />
            <input type="button" value="Upload" ng-click="Uploads()" class="btn btn-primary" />
            @*<div class="col-xs-3">
                    <input type="button" value="Upload" ng-click="Uploads()" class="btn btn-primary" />
                </div>*@
        </div>
    </div>
    <div class="col-xs-12">

        <table class="table table-responsive col-xs-12 text-left" ng-show="FileUpload.length > 0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>File Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fil in FileUpload">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{fil.name}}
                    </td>
                    <td ng-show="fil.Status == 'Success'">
                        <i class="fa fa-check"></i>
                    </td>
                    <td ng-show="fil.Status == 'Fail'">
                        <i class="fa fa-times"></i>
                    </td>
                    <td ng-show="fil.Status == 'Uploading'">
                        <div class="loader"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="col-xs-12">
                            <label>Total Upload : {{TotalUpload}}</label>
                        </div>
                        <div class="col-xs-12">
                            <label>Success : {{TotalSuccess}}</label>
                        </div>
                        <div class="col-xs-12">
                            <label>Failed : {{TotalFailed}}</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>
<script>
    var path = "@upload_path";
    var app = angular.module("Uploading", []);
    app.controller('UploadController', function ($scope) {
        $scope.FileUpload = [];
        $scope.TotalUpload = 0;
        $scope.TotalSuccess = 0;
        $scope.TotalFailed = 0;;
        var allowUpload = true;
        $scope.Uploads = function () {
            var totalfiles = document.getElementById('FileID').files.length;
            $scope.TotalUpload += totalfiles;
            totalfiles = totalfiles - 1;
            while (totalfiles >= 0) {
                if (allowUpload) {
                    allowUpload = false;
                    $scope.FileUpload.push({
                        name: document.getElementById('FileID').files[totalfiles].name,
                        Status: "Uploading"
                    });
                    $scope.SingleUpload(document.getElementById('FileID').files[totalfiles]);
                    totalfiles = totalfiles - 1;
                }
            }
        }

        $scope.SingleUpload = function (file) {

            var form_data = new FormData();
            form_data.append("file", file);
            form_data.append('U_ID', '@user_id')
            form_data.append('path', path)
            $.ajax({
                url: '@Url.Action("SingleUpload", "Upload")',
                type: 'post',
                async : true,
                data: form_data,
                contentType: false,
                processData: false,
                success: function (response) {
                    var idx = $scope.FileUpload.findIndex(x => x.name == file.name);
                    if (response.success) {

                        if (idx != -1) {
                            $scope.FileUpload[idx].Status = "Success";
                        } 
                        $scope.TotalSuccess += 1;
                    } else {
                        if (idx != -1) {
                            $scope.FileUpload[idx].Status = "Fail";
                        }
                        $scope.TotalFailed += 1;
                    }
                    $scope.$apply();
                    allowUpload = true;
                },
                error: function (res) {
                    allowUpload = true;
                }
            });
        }
    });

</script>
